@page "/sample"

<PageTitle>Sample Page</PageTitle>

<h1>Sample Page</h1>

<p>This is a sample page to make sure navigation is working.</p>

<p><a href="/" class="button primary">Home</a></p>

@code {

}
